<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>

<div>
    <table border="5">
        <h1>All users</h1>
        <tr>
            <th>Name: </th>
            <th>Lastname: </th>
            <th>Age: </th>
        </tr>
        <tr th:each="user : ${users}">
            <td th:text="${user.getName()}"></td>
            <td th:text="${user.getLastname()}"></td>
            <td th:text="${user.getAge()}"></td>
            <td>
                <a th:href="@{/users/{id}/edit(id=${user.getId()})}">Edit user</a>
                <form th:method="DELETE" th:action="@{/users/{id}(id=${user.getId()})}">
                    <input type="submit" value="DELETE"/>
                </form>
            </td>
        </tr>
    </table>
    </br>
    </hr>
    <a th:href="@{/users/new/}">Create new User</a>
</div>
</body>
</html>